<div class = "ingredient_list_item">
	</p>
		<%= button_to_remove_fields "Remove Ingredient", f %>

		<%= f.label :measurement_amount, "Amount" %>
		<%= f.text_field :measurement_amount %>

		<%= f.label :measurement_unit, "Unit" %>
		<%= f.text_field :measurement_unit %>

		<span>Ingredient</span>
		<%= f.autocomplete_field :ingredient_name, autocomplete_ingredient_name_recipes_path %>

		<%= f.label :details, "Details" %>
		<%= f.text_field :details %>
	</p>
</div>