<div class = "ingredient_list_item">
	</p>
		<%= button_to_remove_fields "Remove Ingredient", f %>

		<%= f.label :measurement_amount, "Amount" %>
		<%= f.text_field :measurement_amount %>

		<%= f.label :measurement_unit, "Unit" %>
		<%= f.text_field :measurement_unit %>

		<span>Ingredient</span>
		<%= text_field_tag :ingredient_name %>

		<%= f.label :details, "Details" %>
		<%= f.text_field :details %>
	</p>
</div>