<% provide(:title, 'Add Recipe') %>
<h1>Add Recipe</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @recipe do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :source %>
      <%= f.text_field :source %>
      <ol>
        <%= f.fields_for :steps do |builder| %>
          <%= render 'step', f: builder %>
        <% end %>
      </ol>
      <div>
        <%= button_to_add_fields "Add Step", f, :steps %>
      </div>

      <%= f.submit "Add Recipe", class: "btn btn-large btn-primary right" %>
    <% end %>
  </div>
</div>